*.json linguist-vendored=false
*.json linguist-generated=false
*.json linguist-documentation=false
*.json linguist-detectable=true

*.txt linguist-vendored=false
*.txt linguist-generated=false
*.txt linguist-documentation=false
*.txt linguist-detectable=true

*.obj linguist-vendored=false
*.obj linguist-generated=false
*.obj linguist-documentation=false
*.obj linguist-detectable=true
